@font-face {
  font-family: 'spell_aregular';
  src: url('./fonts/spell-a-webfont.woff2') format('woff2'),
       url('./fonts/spell-a-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #504F53;
}

.container {
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.btn-wrapper {
  margin: 0 auto;
}

.btn {
  width: 4rem;
  height: 4rem;
  margin: 0.55rem;
  background: #F4E8DA;
  background: radial-gradient(circle, rgba(244,232,218,1) 50%, rgba(224,213,202,1) 100%);
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0px  1px 0px rgba(0,0,0,.5);
  box-shadow: 0px 6px 0 #A59C95, 0px 3px 15px rgba(0,0,0,.4);
  transition: all .2s ease-in-out;
}

.btn:active, .btn-active {
  transform: translate(0, 5px);
  box-shadow: 0px 2px 0px #A59C95, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.btn:focus {
  outline-color: #A59C95;
}

.display-wrapper {
  margin: 0 auto;
}

#display {
  height: 200px;
  width: 20rem;
  margin: 0.5rem;
  padding: 0.25rem 1rem 1rem 1rem;
  font-size: 2rem;
  background: #021514;
  color: #DFFEFD;
  text-shadow: 0 0 10px #DFFEFD;
  box-shadow: 0px 6px 0 #3B3A3E, 0px 3px 15px rgba(0,0,0,.4);
  border: 5px solid #504F53;
  border-radius: 4px;
  font-family: 'spell_aregular';
  box-sizing: border-box;
}

.record-wrapper {
  margin: 2em auto;
}

#record-btn {
  position: relative;
  border-radius: 50%;
}

#play-btn {
  position: relative;
  border-radius: 50%;
}

#erase-btn {
  position: relative;
  border-radius: 50%;
}

footer {
  margin: 5em;
  text-align: center;
}

a {
  color: inherit;
}

@media only screen and (max-width: 320px) {
    #display {
      font-size: 3em;
    }

    .btn {
      width: 3rem;
      height: 3rem;
    }
}